<%= form_with model: @bookings, scope: 'booking', method: 'get', url: '/bookings/new', local: true do |f| %>
  <table>
    <tr>
      <% if @select == true %>
        <th>Select</th>
      <% end %>
      <th>Origin Airport</th>
      <th>Destination Airport</th>
      <th>Departure Date & Time</th>
      <th>Arrival Date & Time</th>
    </tr>
    <% @flights.each do |flight| %>
    <tr>
      <% if @select == true %>
        <td><%= f.radio_button(:flight_id, flight.id) %></td>
      <% end %>
      <td><%= flight.origin.airport_code %></td>
      <td><%= flight.destination.airport_code %></td>
      <td><%= flight.departure_time %></td>
      <td><%= flight.departure_time + flight.duration.minutes %></td>
      <% if !@selected_num_passengers.nil? %>
        <%= f.hidden_field(:num_passengers, :value => @selected_num_passengers) %>
      <% end %>
    </tr>
    <% end %>
  </table>
      <%= will_paginate @flights %>
  <%= submit_tag('Book a flight')%>
<% end %>