<%= form_with model: @bookings, method: 'get', url: '/bookings/new', local: true do %>
  <table>
    <tr>
      <th>Select</th>
      <th>Origin Airport</th>
      <th>Destination Airport</th>
      <th>Departure Date & Time</th>
      <th>Flight Duration (mins)</th>
    </tr>
    <% @flights.each do |flight| %>
    <tr>
      <td><%= radio_button_tag(:flight, flight.id) %>
      <td><%= flight.origin.airport_code %></td>
      <td><%= flight.destination.airport_code %></td>
      <td><%= flight.departure_time %></td>
      <td><%= flight.duration %></td>
      <% if !@selected_num_passengers.nil? %>
        <%= hidden_field_tag(:num_passengers, @selected_num_passengers) %>
      <% end %>
    </tr>
    <% end %>
  </table>
  <%= submit_tag('Book a flight')%>
<% end %>