<h1>Flights</h1>

<%= form_with(method: 'get') do %>
  <%= label_tag(:origin_airport, 'Origin airport code:') %>
  <%= collection_select(:origin_airport, :airport_code, Airport.all, :id, :airport_code) %>
  <%= label_tag(:destination_airport, 'Destination airport code:') %>
  <%= collection_select(:destination_airport, :airport_code, Airport.all, :id, :airport_code) %>
  <%= label_tag(:num_passengers, 'Number of passengers:') %>
  <%= select_tag(:num_passengers, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]])) %>
  <%= label_tag(:flight_date, 'Flight date:') %>
  <%= select_tag(:flight_date, options_for_select(Flight.get_flight_dates)) %>
  <%= submit_tag('Search') %>
<% end %>

<table>
  <tr>
    <th>Origin Airport</th>
    <th>Destination Airport</th>
    <th>Departure Date & Time</th>
    <th>Flight Duration (mins)</th>
  </tr>
  <% @flights.each do |flight| %>
  <tr>
    <td><%= flight.origin.airport_code %></td>
    <td><%= flight.destination.airport_code %></td>
    <td><%= flight.departure %></td>
    <td><%= flight.duration %></td>
  </tr>
  <% end %>
</table>